@charset "UTF-8";
nav {
  grid-area: nav;
  grid-column-start: 3;
  overflow: hidden;
  background-color: #2a283f;
  border: solid 2px #2a283f;
  top: 0px;
  position: sticky;
  z-index: 10;
  transition: all 10s; }

nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

nav a:hover {
  transform: scale(1.1);
  background-color: grey; }

footer {
  grid-area: footer;
  margin-top: 100px;
  display: block;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2a283f;
  color: white;
  text-align: center; }

header {
  grid-area: header;
  padding: 5px; }

main {
  grid-area: main; }

body {
  font-family: 'Play', sans-serif;
  color: white;
  background-color: #504e6c; }
  body .mainWrapper {
    display: grid;
    position: relative;
    grid-template-areas: 'header header header' 'main main main' 'main main main' 'footer footer footer'; }
  body #titulo h1 {
    color: #4d808b;
    display: flex;
    color: #4d808b; }
  body .title {
    color: #4d808b; }
  body .logo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-decoration: none; }
  body .dropdown {
    float: left;
    overflow: hidden; }
  body h2 {
    color: #4d808b; }

/*===============================================================================================================INDEX=========================================================================================*/
/* Contenedor que trae la imagen, el título y las descripciones de los juegos*/
.indexGameContainer {
  display: flex;
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 30px;
  width: 600px;
  /* Imágenes del contenedor de los juegos en el index*/ }
  .indexGameContainer .boardgameImage {
    align-content: left;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
    /*transiciones  */
    transition: all 0.5s; }
  .indexGameContainer .boardGameDescription {
    padding: 20px;
    border: 20px;
    display: flex;
    flex-direction: column; }
  .indexGameContainer .boardGameDescription h3 {
    color: #4d808b;
    justify-content: right; }
  .indexGameContainer .boardGameDescription p {
    width: 800px;
    margin: 0px;
    justify-self: right; }
  .indexGameContainer .boardgameImage:hover {
    transform: scale(1.1); }

.gameTitle {
  font-weight: 700; }

/*TODO: MEJORAR FOOTER*/
.linkToIndex {
  text-decoration: none;
  color: white; }

/*==================================================================================================*INDICE*============================================================================================================================================================================*/
.gameIndex {
  padding: 20px;
  display: flex;
  justify-content: center; }

/*TODO: Modificar atributos de la tabla*/
.gameIndex th {
  margin: 20px;
  background-color: #2a283f;
  border-collapse: collapse; }

.gameIndex td {
  padding: 20px; }

/*===================================================================================================*TUTORIALES*======================================================================================================================================================================================================*/
.tutorialContainer {
  border-top: 20px;
  margin-top: 2;
  padding: 20px;
  display: grid;
  grid-template-columns: 400px 400px; }

.tutorialVideo {
  margin-top: 20px;
  float: left;
  width: 300px;
  height: 200px; }

.tutorialContainer {
  margin: 10px;
  padding: 10px;
  vertical-align: middle; }

.gameSummary {
  grid-column-start: 2; }

/*===================================================================================================*FAQ*======================================================================================================================================================================================================*/
.faq-container {
  height: 500px;
  margin: 50px; }

.faqContainer ol {
  list-style-type: none; }

.faqContainer div {
  background-color: #2a283f;
  width: 500px;
  padding: 10px;
  margin: 10px; }

.faqForm {
  background-color: #2a283f;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

#fmail {
  width: 500px; }

.accordion-body {
  color: #2a283f; }

#fmailLabel {
  padding-top: 1cm; }

#fname {
  width: 500px;
  border: 5px; }

#frequest {
  width: 500px; }

.faqForm div h3 {
  display: block;
  margin-bottom: 5px;
  padding: 5px; }

.faqForm form {
  align-self: left;
  display: block;
  padding: 5px;
  border: 5px;
  margin: 5px; }

/*===================================================================================================*NewReleases*======================================================================================================================================================================================================*/
.reviewsContainer {
  display: flex;
  height: 250px; }

.reviewsBoardGameDescription {
  float: right;
  padding: 20px; }
