footer {
    grid-area: footer;
    margin-top: 100px;
    display: block;
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(42, 40, 63);
    color: white ;
    text-align: center;
  }