@import "nav";
@import "variables/variables";
@import "footer";
@import "header";
@import "main";



@mixin size-logo($ancho, $alto,$decoracion,$radio) {
  height: $alto;
  width: $ancho;
  border-radius: $radio;
  text-decoration: $decoracion;

}

body {
    font-family: 'Play', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 78, 108); 
    .mainWrapper{
      display: grid;
      position: relative;
      grid-template-areas: 
      'header nav nav'
      'main main main'
      'main main main'
      'footer footer footer'
      ;
    
    }
    #titulo h1
    {
      color:$color-main-text;
      display: flex;
  
    }
  
  
  
    .title
    {
      color:$color-main-text;
    }
  
    .logo
    {
      @include size-logo(50px,50px,none,50px);
    }
  
    .dropdown {
      float: left;
      overflow: hidden;
    }
  
  
    h2
    {
      color:$color-main-text;
    }
  
  }
  


  /*===============================================================================================================INDEX=========================================================================================*/




  /* Contenedor que trae la imagen, el título y las descripciones de los juegos*/
  .indexGameContainer
  {
    
    display:flex;
    position: relative;
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
    width: 600px; 
    .boardgameImage{
      align-content:left;
      width: 200px;
      height: 200px;
      margin-top: 20px;
      border-radius: 10px;
  
    /*transiciones  */
      transition: all 0.5s;
    }
    .boardGameDescription
    {
      padding: 20px;
      border: 20px;
      display: flex;
      flex-direction: column;
  
    }
    .boardGameDescription h3
    {
      color: $color-main-text;
      /* margin: 20px; */
      /* padding: 20 px; */
      justify-content: right;
  
    }
  
    .boardGameDescription p
    {
      /* padding: 20px; */
      width: 800px;
      margin: 0px;
    justify-self: right;
    }
  }
  /* Imágenes del contenedor de los juegos en el index*/


  .boardgameImage:hover
  {
    transform: scale(1.1);
    
  }




  .gameTitle
  {
    font-weight: 700;
  }
  

  /*TODO: MEJORAR FOOTER*/ 

  
  .linkToIndex
  {
    text-decoration: none;
    color:rgb(255, 255, 255);
  }

  /*==================================================================================================*INDICE*============================================================================================================================================================================*/

  .gameIndex{
    padding: 20px;
    display: flex;
    justify-content: center;
  }


  /*TODO: Modificar atributos de la tabla*/

  .gameIndex th
  {
    margin: 20px;
    background-color: rgb(42, 40, 63);
     border-collapse: collapse;
  }

  .gameIndex td
  {
    padding: 20px;
    
  }


  /*===================================================================================================*TUTORIALES*======================================================================================================================================================================================================*/

  .tutorialContainer
  {
    border-top: 20px;
    margin-top: 2;
    padding: 20px;
    display: grid;
    grid-template-columns: 400px 400px;
  }
  .tutorialVideo
  {
    margin-top: 20px;
    float: left;
    width: 300px;
    height: 200px;
  }

  .tutorialContainer
  {

    margin: 10px;
    padding: 10px;
    vertical-align:middle;
    

  }
  .gameSummary
  {
    grid-column-start: 2;
  }


  /*===================================================================================================*FAQ*======================================================================================================================================================================================================*/

  .faq-container
  {
    height: 500px;
    margin: 50px;
  }
  .faqContainer ol{
    list-style-type: none;
  }
  .faqContainer div {
    background-color: rgb(42, 40, 63);
    width: 500px;
    padding: 10px;
    margin: 10px;
  }

  .faqForm
  {
    background-color: rgb(42, 40, 63);
    width: 600px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    
  }
  #fmail
  {
    width: 500px;
  }
  .accordion-body{
    color:rgb(42, 40, 63);
  }
#fmailLabel
{
  padding-top: 1cm;
}
  #fname
  {
    width: 500px;
    border:5px;
  }

  #frequest
  {
    width: 500px;
  }
  .faqForm div h3
  {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
  }
  .faqForm form
  {
    align-self: left;
    display: block;
    padding: 5px;
    border: 5px;
    margin: 5px;
    
  }



  /*===================================================================================================*NewReleases*======================================================================================================================================================================================================*/

  .newReleasesContainer
  {
    display: flex;
    height: 500px;
  }

  .newReleasesBoardGameDescription{
    float: right;
    padding: 20px;
  }








